<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>Acronym Lookup</title> 
	<link rel="stylesheet"  href="../../content/jqm110/css/themes/default/jquery.mobile-1.1.0.min.css" />
	<link rel="stylesheet"  href="../../content/jqm110/css/themes/default/jquery.mobile.structure-1.1.0.min.css" />
    <link rel="stylesheet"  href="../../content/jqm110/css/themes/default/jquery.mobile.theme-1.1.0.min.css" />
  </head>
  
  <body>

	<div data-role="page" id="mainPage">
	
	  <div data-role="header" data-theme="b">
	    <a href="./acronym.html" data-icon="arrow-l" data-iconpos="notext">Back</a>
	    <h1>Acronym Dictionary</h1>
      </div>

		<div data-role="content">
		  
		  <div data-role="collapsible-set" data-theme="b">
		  
		    <div data-role="header" data-theme="b">
	    	  <h1>Collapsible set</h1>
	  		</div><!-- /header -->
	  		
		  	<p class="intro"><strong>Welcome.</strong> jQuery Mobile is the easiest way to build sites and apps that are accessible on all popular smartphone, tablet and desktop devices. For jQuery 1.6.4 and 1.7.1.</p>
		    
		    <div data-role="collapsible" data-collapsed="false" data-theme="e">
			  <h3>Arizona</h3>
		      <p>I'm the collapsible content in a set so this feels like an accordion. I'm open by default because I have the <code>data-collapsed="false"</code> attribute.</p>
			</div>
			
			<div data-role="collapsible" data-theme="b">
		      <h3>Oklahoma</h3>
		      <p>I'm the collapsible content in a set so this feels like an accordion. I'm hidden by default because I have the "collapsed" state; you need to expand the header to see me.</p>
			</div>
			
			<div data-role="collapsible" data-theme="b">
			  <h3>Texas</h3>
			  <p>I'm the collapsible content in a set so this feels like an accordion. I'm hidden by default because I have the "collapsed" state; you need to expand the header to see me.</p>
			</div>
			
			<div data-role="collapsible" data-theme="e">
			  <h3>Section 5</h3>
			  <p>I'm the collapsible content in a set so this feels like an accordion. I'm hidden by default because I have the "collapsed" state; you need to expand the header to see me.</p>
			</div>
			
		  </div><!-- /collapsible-set -->

		</div>
		
    <div data-role="footer">		
	    <div data-role="navbar">
		  <ul>
		    <li><a href="../home/home.html" data-icon="home" data-theme="b"></a></li>
		  </ul>
	    </div><!-- /navbar -->
	    <h4>&copy; 2012 OKDHS</h4>
      </div><!-- /footer -->

	</div>
  
  <script src="../../content/jqm110/js/jquery.js"></script>
  <script src="../../content/jqm110/js/jquery.mobile-1.1.0.min.js"></script>
  <script src="../../content/jqm110/js/add-ons/jqm.autoComplete-1.3.js"></script>
  
  </body>
</html>

